html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

 
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.nav {
  position: relative;
  background-color: #ffffff;
  min-height: 59px;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 15px;
}

.nav-item {
  width: 20%;
  text-align: center;
}

.nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.nav-link:hover {
  color: #81b3d2;
}

.nav-link:active {
  color: #b7b7b7;
}

.intro {
  position: relative;
  padding-top: 76px;
  padding-bottom: 79px;
  background-color: #cee5ff;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -55px;
}

.intro::after {
  content: "";
  position: absolute;
  top: 361px;
  width: 1200px;
  height: 60px;
  transform: translateY(150%);
  background-image: url("../img/svg-sedona/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-text {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.introduction-container {
  min-height: 216px;
  text-align: center;
}

.reasons-item-bottom:nth-child(1) {
  width: 210px;
}

.reasons-item-bottom:nth-child(2) {
  width: 270px;
}

.reasons-item-bottom:nth-child(2) .reasons-title-bottom {
  margin-left: 70px;
  margin-right: 70px;
}

.reasons-item-bottom:nth-child(3) {
  width: 250px;
}

.reasons-item-bottom:nth-child(3) .reasons-title-bottom {
  margin-left: 70px;
  margin-right: 70px;
}

.reasons-title {
  margin: 0;
  margin-top: 58px;
  padding: 0;
  padding-left: 380px;
  padding-right: 380px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.reasons-desctription {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 50px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-top {
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 30px;
  background-color: #81b3d2;
  text-align: center;
}

.reasons-title-top {
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
  width: 150px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.reasons-nubmer-top {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-desk-top {
  margin: 0;
  margin-top: 21px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 161px;
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 300px;
}

.advantage-title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantage-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-title-second::before {
  width: 74px;
  height:70px;
  background-image: url("../img/svg-sedona/icon-3.svg");
}

.advantage-title-third::before {
  width: 64px;
  height:76px;
  background-image: url("../img/svg-sedona/icon-2.svg");
}

.advantage-desk {
  margin: 0;
  margin-bottom: 82px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.reasons-bottom {
  display:flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-left: 95px;
  padding-bottom: 64px;
  padding-right: 74px;
  text-align: center;
  background-color: #eeeeee;
}

.reasons-title-bottom {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  color: #000000;
}

.reasons-nubmer-bottom {
  color: #333333;
}

.reasons-desk-bottom {
  margin: 0;
  margin-top: 20px;
  color: #333333;
}

.appointment-section {
  padding-top: 47px;
  text-align: center;
}

.appointment-head {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.appointment-text {
  margin: 0;
  margin-top: 23px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.appointment-button {
  display: block;
  margin: 0 auto;
  margin-top: 47px;
  padding: 0;
  width: 568px;
  height: 86px;
  border: none;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.appointment-button:hover {
  background-color: #604e43;
}

.appointment-button:active {
  background-color: #503e33;
}

.appointment-form {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  padding-top: 54px;
  padding-left: 56px;
  padding-right: 55px;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
}

.arrival-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  min-width: 38px;
  text-transform: uppercase;
  color: #000000;
}

.arrival-date-label {
  margin-right: 21px;
}

.departure-date-label {
  margin-right: 17px;
}

.departure-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.adult-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  margin-right: 53px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.child-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.adult-item-minus-btn {
  position: absolute;
  width: 14px;
  height: 3px;
  right: 90px;
  border: none;
  background-color: #a9a9a9;
  font: inherit;
}


.adult-item-plus-btn {
  position: absolute;
  width: 14px;
  height: 3px;
  right: 14px;
  border: none;
  background-color: #a9a9a9;
  font: inherit;
}

.input-date {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  min-height: 38px;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.input-date:hover {
  background-color: #ebebeb;
}

.input-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.arrival-date-btn {
  position: absolute;
  right: 2px;
  top: 7px;
  border: none;
  background-color: inherit;
}

.arrival-date-btn:hover path {
  fill: black;
}

.departure-date-btn:hover path {
  fill: black;
}

.arrival-date-btn:active path {
  fill: #81b3d2;
}

.departure-date-btn:active path {
  fill: #81b3d2;
}

.departure-date-btn {
  position: absolute;
  right: 2px;
  top: 7px;
  border: none;
  background-color: inherit;
}

.ppl-count {
  display: flex;
  margin-bottom: 55px;
}

.adult-number-label {
  margin-right: 41px;
}

.child-number-label {
  margin-right: 27px;
}

.input-count {
  margin: 0;
  padding: 0;
  min-height: 38px;
  width: 114px;
  font: inherit;
  text-transform: uppercase; 
  text-align: center;
  background-color: #f2f2f2; 
  border: none;
}


.find-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 458px;
  height: 58px;
  border: none;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.find-button:hover {
  background-color: #669ec0;
}

.find-button:active {
  background-color: #5496bd;
}

.hashtag {
  margin: 0;
  margin-right: 257px;
  margin-top: 11px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000
}

.social-list {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-link:hover path {
  fill: #81b3d2;
}

.footer-link:active path {
  fill: #bdbbbc;
}

.filter-form {
  display: flex;
  flex-direction: row;
  min-height: 217px;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 39px;
  background-color: #85a4c3;
  background-image: url("../img/filter-background.jpg");
  color: #ffffff;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.infrastructure-container {
  margin: 0;
  margin-right: 73px;
  padding: 0;
  border: none;
}

.hotels-type-container {
  margin: 0;
  margin-right: auto;
  padding: 0;
  border: none;
}

.btn-filter {
  height: 32px;
  width: 133px;
  border: 2px solid #ffffff;
  background-color: transparent;
  font: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.found {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}

.sort-link:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-link:active {
  color: #000000;
}

.result-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-name {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #000000;
  opacity: 0.3;
}

.hotel-type-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.btn-more {
  display: block;
  margin: 0;
  padding: 0;
  width: 110px;
  height: 27px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #5496bd;
}

.btn-book {
  display: block;
  margin: 0;
  padding: 0;
  width: 142px;
  height: 27px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
}

.first-reason-container {
  display: flex;
  background-color: #81b3d2;
}

.second-reason-container {
  display: flex;
  background-color: #81b3d2;
}

.diablo-bridge-img {
  order: -1;
}

.map {
  position: relative;
}

.main-footer {
  display: flex;
  position: relative;
  margin-top: -128px;
  padding-left: 132px;
  padding-right: 100px;
  padding-top: 36px;;
  padding-bottom: 38px;
  background-color: rgba(255,255,255,0.9);
}

.hotel-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 100px;
  padding-top: 35px;
  background-color: rgba(255,255,255,0);
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-link {
  margin-left: 10px;
}

.sort-container {
  display: flex;
  margin-left: 43px;
}

.result-item {
  display: flex;
  justify-content: flex-start;
  min-height: 152px;
  border-top: 1px solid #e5e5e5;
}

.result-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.result-hotel-photo {
  margin-left: 73px;
}

.hotel-rating {
  margin-left: auto;
  margin-right: 73px;
}

.hotel-info {
  align-content: flex-start;
  margin-left: 30px;
}